/* css/src/ksd_main.css */

/* css/src/layout_국순당 메인.css */

#wrap {
  width : 95%;
  min-width : 1600px;
  height : auto;
  min-height : 500px;
  margin : auto;
  }

#wrap > div {
  width:100%;
}

/* #headBox =============== */
#headBox {
 position:relative; 
 z-index: 0;
 height:150px;
 padding:34px 50px 0; 
 box-sizing: border-box;
 background-color: rgb(255, 255, 255);
}

  h1 { 
    float: left;
    width:30px; 
    height:10px;
    margin top: 10px;
    background-color: #rgb(255, 255, 255);
  }

/* #navBox =============== */
.navbox { 
  box-sizing: border-box;
    width: 33.333333%;
    text-align: center;
    line-height: 27px;
    height: 100%;
}

  /* -------- */
  .global_nav {
    position: absolute;
    top:34px; 
    left:0; 
    right:0; 
    margin:auto;
    width:850px; 
    height:auto; 
    min-height:80px;
    padding:5px 10px; 
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
  }
    .global_nav ul {
      width: 100%; 
      height: auto;
    }
    .global_nav li {
      width:150px; 
      height:70px;
      margin-left:20px;
      background-color: rgb(255, 255, 255);
    }

  .global_nav a {
    display: block;
    width: 100%; 
    height: 100%;
    text-align: center;
    text-transform: uppercase;
    line-height:70px;
  }

/* #adViewBox =============== */
#adViewBox {
 position: relative;
 height:750px;
 padding-top:28px; 
 box-sizing: border-box;
 background-color: #ffffff
}

/* #communityBox =============== */
#communityBox {
height:auto; 
min-height:800px;
padding-top:60px; 
box-sizing: border-box;
background-color: #ffffff
}

/* #miniAdBox =============== */
#miniAdBox {
height:auto; 
min-height:400px;
margin-bottom: 80px;
padding:40px; 
box-sizing: border-box;
background-color: rgb(255, 255, 255);
}

/* #footBox =============== */
#footBox {
height:auto;
padding:22px 0;
background-color: rgb(255, 187, 0);
}

.foot_con_area{
 width: 1300px; 
 height: 140px;
 margin: auto;
 background-color: rgb(255, 187, 0);
}
