/* css/src/ksd_main.css */

/* css/src/layout_국순당 메인.css */

#wrap {
  width : 100%;
  min-width : 1600px;
  height : auto;
  min-height : 500px;
  margin : auto;
  font-family: 'NanumBarunGothic',"돋움",'Roboto', sans-serif;
  color: #333;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1.5;
  box-sizing: border-box;
  }

#wrap > div {
  width:100%;
}

/* #headBox =============== */
#headBox {
  position:relative; 
  z-index: 0;
  height:150px;
  padding:34px 50px 0; 
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
 }
 
 h1 { 
   float: left;
   width:30px; 
   height:10px;
   max-width:200px; 
   max-height:350px;
   margin-top: 5px;
   background-color: rgb(255, 255, 255);
 }

/* #navBox=============== */
#navBox {
 float:right;
 top:100px; 
 margin-right:75px;
 font-family: 'NanumBarunGothic',"돋움",'Roboto', sans-serif;
 color: #333;
 font-size: 14px;
}

/* -------- */
  .global_nav {
    position: absolute;
    top:100px; 
    left:0; 
    right:0; 
    margin:auto;
    width:850px; 
    height:auto; 
    min-height:70px;
    padding:5px 10px; 
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
  }
    .global_nav ul {
      width: 100%; 
      height: auto;
    }
    .global_nav li {
      width:150px; 
      height:70px;
      margin-left:20px;
    }
  }

/* #ViewBox =============== */
#ViewBox {
  position: relative;
  height:750px;
  padding-top:28px; 
  box-sizing: border-box;
  background-color: #ffffff
}

/* #adViewBox =============== */
#adViewBox {
 position: relative;
 height:750px;
 padding-top:28px; 
 box-sizing: border-box;
 background-color: #ffffff
}

/* #recommendedConttentBox ============= */
#recommendedConttentBox {
  min-height:400px;
  margin-bottom: 80px;
  padding:40px; 
  top:100px; 
  margin:auto;
  width:55px; height: 55px;
  font-family: 'NanumBarunGothic',"돋움",'Roboto', sans-serif;
  color: #333;
  font-size: 15px;
  float: right;
}

/* #communityBox =============== */
#communityBox {
height:auto; 
max-width: 2000px; 
max-height: 1000px;
box-sizing: border-box;
background-color: #ffffff
}

/* #miniAdBox =============== */
#miniAdBox {
height:auto; 
min-height:400px;
margin-bottom: 80px;
padding:40px; 
box-sizing: border-box;
background-color: rgb(255, 255, 255);
}

/* #footBox =============== */
#footBox {
height:auto;
padding:22px 0;
background-color: rgb(255, 187, 0);
}

.foot_con_area{
 width: 1300px; 
 height: 140px;
 margin: auto;
 background-color: rgb(255, 187, 0);
}
