/* css/src/ksd_main.css */

/* css/src/layout_국순당 메인.css */

#wrap {
  width:95%; min-width:1920px; height:auto; min-height:500px;
  margin:auto;
}

#wrap > div {
  width:100%;
}

/* #headBox =============== */
#headBox {
 position:relative; z-index: 0;
 height:150px;
 padding:34px 50px 0; box-sizing: border-box;
 background-color: rgb(252, 252, 252);
}
  h1 { 
    width:250px; height:80px;
    margin-right:75px;
    background-color: rgb(255, 255, 255);
  }

    /* -------- */
    .user_nav {
      float:right;
      width:250px; height:80px;
      background-color: rgb(255, 160, 176);
    }
  
  /* -------- */
  .global_nav {
    position: absolute;
    top:34px; left:0; right:0; margin:auto;
    width:850px; height:auto; min-height:80px;
    padding:5px 10px; box-sizing: border-box;
    background-color: rgb(226, 230, 236);
  }
    .global_nav ul {
      width: 100%; height: auto;
    }
    .global_nav li {
      width:150px; height:70px;
      margin-left:20px;
      background-color: #fc0;
    }

  .global_nav a {
    display: block;
    width: 100%; height: 100%;
    text-align: center;
    text-transform: uppercase;
    line-height:70px;
  }

/* #adViewBox =============== */
#adViewBox {
 position: relative;
 height:750px;
 padding-top:28px; box-sizing: border-box;
 background-color: rgba(255, 160, 176);
}

/* #recommendedConttentBox =============== */
#recommendedConttentBox {
height:auto; min-height:800px;
margin-bottom: 80px;
padding-top: 30px; box-sizing: border-box;
background-color: rgba(255,187,0);
}
 .recom_con_area{
   min-height:440px;
 } 

/* #communityBox =============== */
#communityBox {
height:auto; min-height:800px;
padding-top:60px; box-sizing: border-box;
background-color: rgba(255, 160, 176);
}

/* #miniAdBox =============== */
#miniAdBox {
height:auto; min-height:400px;
margin-bottom: 80px;
padding:40px; box-sizing: border-box;
background-color: rgb(255, 255, 255);
}

.mini_ad_outer {
 width:100%; max-width: 1500px; height:300px;
 margin:auto;
 background-color: rgb(255, 158, 119);
}

/* #footBox =============== */
#footBox {
height:auto;
padding:22px 0;
background-color: rgb(255, 255, 255);
}
.foot_con_area{
 width: 1300px; height: 140px;
 margin: auto;
 background-color: rgb(255, 187, 0);
}
