._3bww,._3bwv{height:100%;width:100%}._3bwv{display:table}._3bwv>._3bwy{display:table-cell;vertical-align:middle}._3bww>._3bwy>._3bwx{display:table;margin:0 auto}._5bpf{height:100%}._3bww>._3bwy>._2qgx{width:700px}
._1d8v{background:#fff;border:1px solid;border-color:#EBEDF0 #dfe0e4 #d0d1d5;border-radius:3px;margin-bottom:10px;padding:12px}

#bootloader_qSM6RN2{height:42px;}.bootloader_qSM6RN2{display:block!important;}